In [1]:
import pandas as pd

In [2]:
watch_history_details = pd.read_excel('watch_history_details.xlsx')

In [3]:
watch_history_details

,Unnamed: 0,Titel,Link,Datum en tijd,group,participantid,videoid,position,channelId,channelTitle,...,thumbnail_maxres,licensedContent,locationDescription,latitude,longitude,viewCount,likeCount,dislikeCount,favoriteCount,commentCount
0,0,Watched AW25-Programmatic-273_Youtube-Masthead...,https://www.youtube.com/watch?v=-CIz8miEGrI,2025-09-28T09:49:20.771Z,group02,13,-CIz8miEGrI,1,UCH8Kxr6Z5SQ8mj8HiF5syLw,Zalando,...,https://i.ytimg.com/vi/-CIz8miEGrI/maxresdefau...,NaN,NaN,NaN,NaN,115628.0,21.0,NaN,0.0,2.0
1,1,Watched screencasts gmt94 3v en Check Rewards ...,https://www.youtube.com/watch?v=bb8QFm-5z_M,2025-09-19T20:24:11.047Z,group02,13,bb8QFm-5z_M,2,UCQeWJrKN_ec5aoNwcLyiS8Q,GoMining,...,https://i.ytimg.com/vi/bb8QFm-5z_M/maxresdefau...,NaN,NaN,NaN,NaN,9711747.0,29.0,NaN,0.0,2.0
2,2,Viewed Ads On YouTube Homepage,NaN,2025-09-18T20:49:57.036Z,group02,13,NaN,1393,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Watched 0923-b6-h50A,https://www.youtube.com/watch?v=SkcwLeP-KZw,2025-09-18T20:22:18.937Z,group02,13,SkcwLeP-KZw,3,UCBUsvFMskC0yuMYGSmqRO1w,Tom Crosshill,...,https://i.ytimg.com/vi/SkcwLeP-KZw/maxresdefau...,NaN,NaN,NaN,NaN,1264510.0,NaN,NaN,0.0,NaN
4,4,Watched ðŸ”´ LIVE - USS Des Moines | World of War...,https://www.youtube.com/watch?v=tV9_5ruXS88,2025-09-18T20:01:22.877Z,group02,13,tV9_5ruXS88,4,UCP8RshniIRZPw5HHeEqeh4w,WORLD OF WARSHIPS,...,https://i.ytimg.com/vi/tV9_5ruXS88/maxresdefau...,NaN,NaN,NaN,NaN,76114020.0,NaN,NaN,0.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1720,1720,Watched The Summer I Turned Pretty Season 3 - ...,https://www.youtube.com/watch?v=UFPT7_U4oyc,2025-09-04T09:35:42.147Z,group02,4,UFPT7_U4oyc,1388,UCQJWtTnAHhEG5w4uN0udnUQ,Prime Video,...,https://i.ytimg.com/vi/UFPT7_U4oyc/maxresdefau...,1.0,NaN,NaN,NaN,3071058.0,51073.0,NaN,0.0,1968.0
1721,1721,Watched RITUALS DELUXE ADVENTSKALENDER UNBOXIN...,https://www.youtube.com/watch?v=IuO5K4ZVxrc,2025-09-04T09:35:26.082Z,group02,4,IuO5K4ZVxrc,1389,UC-315YD2-S7gz_utpG52_eg,Make Me Blush,...,https://i.ytimg.com/vi/IuO5K4ZVxrc/maxresdefau...,1.0,NaN,NaN,NaN,23446.0,783.0,NaN,0.0,150.0
1722,1722,Watched Douglas Exclusive Beauty Highlights 20...,https://www.youtube.com/watch?v=VBkpWfWOYQc,2025-09-04T09:35:14.188Z,group02,4,VBkpWfWOYQc,1390,UCnYwJm9kVAs2p-88g1UjnCA,Helga Mua,...,https://i.ytimg.com/vi/VBkpWfWOYQc/maxresdefau...,1.0,Munich,48.135125,11.581981,5419.0,147.0,NaN,0.0,41.0
1723,1723,Watched HOURGLASS AMBIENT LIGHTING EDIT UNLOCK...,https://www.youtube.com/watch?v=2vzgW6sOS-I,2025-09-04T09:32:26.458Z,group02,4,2vzgW6sOS-I,1391,UChK6kpyOTrMOJ391JUYBfSw,Charlotte Holdcroft,...,https://i.ytimg.com/vi/2vzgW6sOS-I/maxresdefau...,1.0,NaN,NaN,NaN,27466.0,2389.0,NaN,0.0,326.0
1724,1724,Watched Blow Your Workload Out of the Water | ...,https://www.youtube.com/watch?v=RJwRThfQNI4,2025-09-04T09:31:27.304Z,group02,4,RJwRThfQNI4,1392,UCfmqLyr1PI3_zbwppHNEzuQ,Grammarly,...,https://i.ytimg.com/vi/RJwRThfQNI4/maxresdefau...,NaN,NaN,NaN,NaN,64638334.0,2225.0,NaN,0.0,NaN

In [4]:
watch_history_details.columns

Index(['Unnamed: 0', 'Titel', 'Link', 'Datum en tijd', 'group',
       'participantid', 'videoid', 'position', 'channelId', 'channelTitle',
       'videoId', 'publishedAt', 'publishedAtSQL', 'videoTitle',
       'videoDescription', 'tags', 'videoCategoryId', 'videoCategoryLabel',
       'topicCategories', 'duration', 'durationSec', 'dimension', 'definition',
       'caption', 'defaultLanguage', 'defaultLAudioLanguage',
       'thumbnail_maxres', 'licensedContent', 'locationDescription',
       'latitude', 'longitude', 'viewCount', 'likeCount', 'dislikeCount',
       'favoriteCount', 'commentCount'],
      dtype='object')

In [5]:
watch_history_details['videoCategoryLabel'].value_counts()

videoCategoryLabel
People & Blogs           488
Entertainment            240
Music                    221
Education                165
Howto & Style            159
Science & Technology     103
Sports                    78
News & Politics           58
Film & Animation          44
Comedy                    34
Travel & Events           21
Autos & Vehicles          19
Gaming                    12
Nonprofits & Activism     11
Pets & Animals             6
Name: count, dtype: int64

In [6]:
watch_history_details['topicCategories'].value_counts()

topicCategories
Lifestyle_(sociology)                                                                               177
Entertainment                                                                                        54
Knowledge                                                                                            49
Health,Lifestyle_(sociology),Physical_fitness                                                        46
Hobby,Lifestyle_(sociology)                                                                          44
                                                                                                   ...
Music,Music_of_Latin_America,Pop_music,Rhythm_and_blues,Soul_music                                    1
Pop_music,Sport                                                                                       1
Music,Pop_music,Rock_music                                                                            1
Action-adventure_game,Action_game,Role-playing_video_game,Strategy_video_game,Video_game_culture      1
Hobby,Ice_hockey,Lifestyle_(sociology)                                                                1
Name: count, Length: 167, dtype: int64

In [7]:
def categorise_categories(text, list_of_categories):
    list_of_categories = [str(item).lower() for item in list_of_categories]
    if str(text).lower() in list_of_categories:
        return 1
    return 0

In [12]:
watch_history_details['leisure'] = watch_history_details['videoCategoryLabel'].apply(categorise_categories, 
                                                               args=[['Entertainment', 'Music', 'Gaming'],] )

In [17]:
watch_history_details['sports'] = watch_history_details['videoCategoryLabel'].apply(categorise_categories, 
                                                               args=[['Sports'],] )

In [18]:
watch_history_details

,Unnamed: 0,Titel,Link,Datum en tijd,group,participantid,videoid,position,channelId,channelTitle,...,locationDescription,latitude,longitude,viewCount,likeCount,dislikeCount,favoriteCount,commentCount,leisure,sports
0,0,Watched AW25-Programmatic-273_Youtube-Masthead...,https://www.youtube.com/watch?v=-CIz8miEGrI,2025-09-28T09:49:20.771Z,group02,13,-CIz8miEGrI,1,UCH8Kxr6Z5SQ8mj8HiF5syLw,Zalando,...,NaN,NaN,NaN,115628.0,21.0,NaN,0.0,2.0,0,0
1,1,Watched screencasts gmt94 3v en Check Rewards ...,https://www.youtube.com/watch?v=bb8QFm-5z_M,2025-09-19T20:24:11.047Z,group02,13,bb8QFm-5z_M,2,UCQeWJrKN_ec5aoNwcLyiS8Q,GoMining,...,NaN,NaN,NaN,9711747.0,29.0,NaN,0.0,2.0,0,0
2,2,Viewed Ads On YouTube Homepage,NaN,2025-09-18T20:49:57.036Z,group02,13,NaN,1393,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3,3,Watched 0923-b6-h50A,https://www.youtube.com/watch?v=SkcwLeP-KZw,2025-09-18T20:22:18.937Z,group02,13,SkcwLeP-KZw,3,UCBUsvFMskC0yuMYGSmqRO1w,Tom Crosshill,...,NaN,NaN,NaN,1264510.0,NaN,NaN,0.0,NaN,0,0
4,4,Watched ðŸ”´ LIVE - USS Des Moines | World of War...,https://www.youtube.com/watch?v=tV9_5ruXS88,2025-09-18T20:01:22.877Z,group02,13,tV9_5ruXS88,4,UCP8RshniIRZPw5HHeEqeh4w,WORLD OF WARSHIPS,...,NaN,NaN,NaN,76114020.0,NaN,NaN,0.0,18.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1720,1720,Watched The Summer I Turned Pretty Season 3 - ...,https://www.youtube.com/watch?v=UFPT7_U4oyc,2025-09-04T09:35:42.147Z,group02,4,UFPT7_U4oyc,1388,UCQJWtTnAHhEG5w4uN0udnUQ,Prime Video,...,NaN,NaN,NaN,3071058.0,51073.0,NaN,0.0,1968.0,1,0
1721,1721,Watched RITUALS DELUXE ADVENTSKALENDER UNBOXIN...,https://www.youtube.com/watch?v=IuO5K4ZVxrc,2025-09-04T09:35:26.082Z,group02,4,IuO5K4ZVxrc,1389,UC-315YD2-S7gz_utpG52_eg,Make Me Blush,...,NaN,NaN,NaN,23446.0,783.0,NaN,0.0,150.0,0,0
1722,1722,Watched Douglas Exclusive Beauty Highlights 20...,https://www.youtube.com/watch?v=VBkpWfWOYQc,2025-09-04T09:35:14.188Z,group02,4,VBkpWfWOYQc,1390,UCnYwJm9kVAs2p-88g1UjnCA,Helga Mua,...,Munich,48.135125,11.581981,5419.0,147.0,NaN,0.0,41.0,0,0
1723,1723,Watched HOURGLASS AMBIENT LIGHTING EDIT UNLOCK...,https://www.youtube.com/watch?v=2vzgW6sOS-I,2025-09-04T09:32:26.458Z,group02,4,2vzgW6sOS-I,1391,UChK6kpyOTrMOJ391JUYBfSw,Charlotte Holdcroft,...,NaN,NaN,NaN,27466.0,2389.0,NaN,0.0,326.0,0,0
1724,1724,Watched Blow Your Workload Out of the Water | ...,https://www.youtube.com/watch?v=RJwRThfQNI4,2025-09-04T09:31:27.304Z,group02,4,RJwRThfQNI4,1392,UCfmqLyr1PI3_zbwppHNEzuQ,Grammarly,...,NaN,NaN,NaN,64638334.0,2225.0,NaN,0.0,NaN,0,0

In [32]:
leisure_sum = watch_history_details.groupby(['participantid'])['leisure'].sum()

In [33]:
leisure_sum

participantid
1     20
2     12
3     87
4     25
5     14
6      4
7      5
8     24
9      4
10    17
11    12
12    91
13     8
14    35
15    38
16     8
17    40
18    21
19     8
Name: leisure, dtype: int64

In [34]:
leisure_sum = leisure_sum.reset_index().rename(columns={'leisure': 'total_leisure'})

In [35]:
leisure_sum

    participantid  total_leisure
0               1             20
1               2             12
2               3             87
3               4             25
4               5             14
5               6              4
6               7              5
7               8             24
8               9              4
9              10             17
10             11             12
11             12             91
12             13              8
13             14             35
14             15             38
15             16              8
16             17             40
17             18             21
18             19              8

In [49]:
sport_mean = watch_history_details.groupby(['participantid'])['sports'].mean()

In [50]:
sport_mean

participantid
1     0.024390
2     0.000000
3     0.286885
4     0.025157
5     0.000000
6     0.000000
7     0.186047
8     0.026667
9     0.052632
10    0.000000
11    0.015625
12    0.003205
13    0.000000
14    0.023121
15    0.016129
16    0.085714
17    0.057143
18    0.105263
19    0.000000
Name: sports, dtype: float64

In [51]:
sport_mean = sport_mean.reset_index().rename(columns={'sports': 'mean_sport'})

In [52]:
sport_mean

    participantid  mean_sport
0               1    0.024390
1               2    0.000000
2               3    0.286885
3               4    0.025157
4               5    0.000000
5               6    0.000000
6               7    0.186047
7               8    0.026667
8               9    0.052632
9              10    0.000000
10             11    0.015625
11             12    0.003205
12             13    0.000000
13             14    0.023121
14             15    0.016129
15             16    0.085714
16             17    0.057143
17             18    0.105263
18             19    0.000000

In [53]:
self_reports = pd.read_excel('DCS+Group+2_October+8,+2025_14.26.xlsx', skiprows=[1])

/opt/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [54]:
self_reports

,StartDate,EndDate,Status,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,DistributionChannel,UserLanguage,...,Q11_2,Q11_3,Q11_4,Q11_5,Q11_6,Q11_7,Q11_8,Q11_9,participant,Create New Field or Choose From Dropdown.
0,2025-09-29 15:23:42,2025-09-29 15:27:09,0,100,206,1,2025-09-29 15:27:09.425,R_26sTUxRGrOrJdzr,anonymous,EN,...,1,1,1,1,1,1,1,1,group02_demo_16,NaN
1,2025-09-29 15:30:05,2025-09-29 15:33:41,0,100,216,1,2025-09-29 15:33:41.953,R_2tr73kO9Vhufl98,anonymous,EN,...,2,2,2,2,2,2,2,2,group02_demo_04,NaN
2,2025-09-29 15:38:34,2025-09-29 15:42:49,0,100,254,1,2025-09-29 15:42:49.328,R_8RV5CyvrCYCW2Wk,anonymous,EN,...,2,4,3,3,3,3,4,3,group02_demo_06,NaN
3,2025-09-29 15:44:16,2025-09-29 15:46:31,0,100,135,1,2025-09-29 15:46:32.218,R_8jfArUfJbTNh0Ma,anonymous,EN,...,1,1,4,4,4,4,4,3,group02_demo_17,NaN
4,2025-09-29 15:40:20,2025-09-29 15:46:51,0,100,390,1,2025-09-29 15:46:51.751,R_2E0NIkvjKtt1SLE,anonymous,EN,...,5,4,4,4,4,3,3,4,group02_demo_13,NaN
5,2025-09-29 15:45:44,2025-09-29 15:47:20,0,100,95,1,2025-09-29 15:47:20.720,R_8GrckEKy0znLDv6,anonymous,EN,...,1,2,4,2,3,2,3,2,group02_demo_14,NaN
6,2025-09-29 15:45:51,2025-09-29 15:47:49,0,100,117,1,2025-09-29 15:47:49.695,R_2653Q9jt3Pseyjf,anonymous,EN,...,4,5,4,4,4,4,4,3,group02_demo_05,NaN
7,2025-09-29 15:47:27,2025-09-29 15:50:53,0,100,205,1,2025-09-29 15:50:53.378,R_2TBLmgLfgsjbmTf,anonymous,EN,...,2,2,3,3,3,2,3,2,group02_demo_12,NaN
8,2025-09-29 15:48:21,2025-09-29 15:50:55,0,100,154,1,2025-09-29 15:50:55.910,R_2my0Ehvr3Ekrfap,anonymous,EN,...,2,2,4,4,4,2,5,2,group02_demo_03,NaN
9,2025-09-29 15:50:25,2025-09-29 15:53:24,0,100,179,1,2025-09-29 15:53:25.085,R_8XMslWFsmuCNN4Z,anonymous,EN,...,4,4,2,2,3,3,2,2,group02_demo_15,NaN
10,2025-09-29 15:49:57,2025-09-29 15:53:36,0,100,219,1,2025-09-29 15:53:37.229,R_8dFjUf2qkOiB56N,anonymous,EN,...,2,2,2,2,2,2,2,2,group02_demo_08,NaN
11,2025-09-29 15:51:08,2025-09-29 15:54:34,0,100,206,1,2025-09-29 15:54:34.946,R_2sAFHpzF6q86hDL,anonymous,EN,...,2,4,4,4,4,3,4,3,group02_demo_07,NaN
12,2025-09-29 15:54:56,2025-09-29 15:57:36,0,100,160,1,2025-09-29 15:57:36.360,R_8XnDv0GlzNttNvz,anonymous,EN,...,1,2,3,2,1,2,3,2,group02_demo_01,NaN
13,2025-09-29 15:56:57,2025-09-29 15:59:36,0,100,159,1,2025-09-29 15:59:36.629,R_8ZxOaAqnoiqm69r,anonymous,EN,...,3,1,3,2,2,2,1,2,group02_demo_09,NaN
14,2025-09-29 16:22:50,2025-09-29 16:30:26,0,100,456,1,2025-09-29 16:30:27.109,R_2OiXZY4aukWxCrz,anonymous,EN,...,1,1,2,3,1,1,4,1,group02_demo_02,NaN
15,2025-09-29 16:16:35,2025-09-29 16:33:49,0,100,1033,1,2025-09-29 16:33:49.539,R_2A1SLVvfhRfUsbD,anonymous,EN,...,2,5,4,3,4,3,4,4,group02_demo_10,NaN
16,2025-09-29 17:10:49,2025-09-29 17:11:40,0,100,51,1,2025-09-29 17:11:41.335,R_2K2MG9ysiVPyKCT,anonymous,EN,...,3,2,3,3,4,3,3,3,group02_demo_19,NaN
17,2025-09-30 11:32:33,2025-09-30 11:36:29,0,100,236,1,2025-09-30 11:36:29.614,R_2qR8prRZj6YY9NL,anonymous,EN,...,1,2,4,3,3,2,4,3,group02_demo_11,NaN
18,2025-09-30 13:32:15,2025-09-30 13:33:44,0,100,89,1,2025-09-30 13:33:44.800,R_2oZrZJXm1uzNwxm,anonymous,EN,...,4,2,2,3,3,3,2,2,group02_demo_18,NaN

In [55]:
def extract_participant_id(text):
    text = text.split('_')
    if len(text) > 2:
        return text[2]
    return None

In [56]:
self_reports['participantid'] = self_reports['participant'].apply(extract_participant_id)

In [57]:
self_reports

,StartDate,EndDate,Status,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,DistributionChannel,UserLanguage,...,Q11_3,Q11_4,Q11_5,Q11_6,Q11_7,Q11_8,Q11_9,participant,Create New Field or Choose From Dropdown.,participantid
0,2025-09-29 15:23:42,2025-09-29 15:27:09,0,100,206,1,2025-09-29 15:27:09.425,R_26sTUxRGrOrJdzr,anonymous,EN,...,1,1,1,1,1,1,1,group02_demo_16,NaN,16
1,2025-09-29 15:30:05,2025-09-29 15:33:41,0,100,216,1,2025-09-29 15:33:41.953,R_2tr73kO9Vhufl98,anonymous,EN,...,2,2,2,2,2,2,2,group02_demo_04,NaN,04
2,2025-09-29 15:38:34,2025-09-29 15:42:49,0,100,254,1,2025-09-29 15:42:49.328,R_8RV5CyvrCYCW2Wk,anonymous,EN,...,4,3,3,3,3,4,3,group02_demo_06,NaN,06
3,2025-09-29 15:44:16,2025-09-29 15:46:31,0,100,135,1,2025-09-29 15:46:32.218,R_8jfArUfJbTNh0Ma,anonymous,EN,...,1,4,4,4,4,4,3,group02_demo_17,NaN,17
4,2025-09-29 15:40:20,2025-09-29 15:46:51,0,100,390,1,2025-09-29 15:46:51.751,R_2E0NIkvjKtt1SLE,anonymous,EN,...,4,4,4,4,3,3,4,group02_demo_13,NaN,13
5,2025-09-29 15:45:44,2025-09-29 15:47:20,0,100,95,1,2025-09-29 15:47:20.720,R_8GrckEKy0znLDv6,anonymous,EN,...,2,4,2,3,2,3,2,group02_demo_14,NaN,14
6,2025-09-29 15:45:51,2025-09-29 15:47:49,0,100,117,1,2025-09-29 15:47:49.695,R_2653Q9jt3Pseyjf,anonymous,EN,...,5,4,4,4,4,4,3,group02_demo_05,NaN,05
7,2025-09-29 15:47:27,2025-09-29 15:50:53,0,100,205,1,2025-09-29 15:50:53.378,R_2TBLmgLfgsjbmTf,anonymous,EN,...,2,3,3,3,2,3,2,group02_demo_12,NaN,12
8,2025-09-29 15:48:21,2025-09-29 15:50:55,0,100,154,1,2025-09-29 15:50:55.910,R_2my0Ehvr3Ekrfap,anonymous,EN,...,2,4,4,4,2,5,2,group02_demo_03,NaN,03
9,2025-09-29 15:50:25,2025-09-29 15:53:24,0,100,179,1,2025-09-29 15:53:25.085,R_8XMslWFsmuCNN4Z,anonymous,EN,...,4,2,2,3,3,2,2,group02_demo_15,NaN,15
10,2025-09-29 15:49:57,2025-09-29 15:53:36,0,100,219,1,2025-09-29 15:53:37.229,R_8dFjUf2qkOiB56N,anonymous,EN,...,2,2,2,2,2,2,2,group02_demo_08,NaN,08
11,2025-09-29 15:51:08,2025-09-29 15:54:34,0,100,206,1,2025-09-29 15:54:34.946,R_2sAFHpzF6q86hDL,anonymous,EN,...,4,4,4,4,3,4,3,group02_demo_07,NaN,07
12,2025-09-29 15:54:56,2025-09-29 15:57:36,0,100,160,1,2025-09-29 15:57:36.360,R_8XnDv0GlzNttNvz,anonymous,EN,...,2,3,2,1,2,3,2,group02_demo_01,NaN,01
13,2025-09-29 15:56:57,2025-09-29 15:59:36,0,100,159,1,2025-09-29 15:59:36.629,R_8ZxOaAqnoiqm69r,anonymous,EN,...,1,3,2,2,2,1,2,group02_demo_09,NaN,09
14,2025-09-29 16:22:50,2025-09-29 16:30:26,0,100,456,1,2025-09-29 16:30:27.109,R_2OiXZY4aukWxCrz,anonymous,EN,...,1,2,3,1,1,4,1,group02_demo_02,NaN,02
15,2025-09-29 16:16:35,2025-09-29 16:33:49,0,100,1033,1,2025-09-29 16:33:49.539,R_2A1SLVvfhRfUsbD,anonymous,EN,...,5,4,3,4,3,4,4,group02_demo_10,NaN,10
16,2025-09-29 17:10:49,2025-09-29 17:11:40,0,100,51,1,2025-09-29 17:11:41.335,R_2K2MG9ysiVPyKCT,anonymous,EN,...,2,3,3,4,3,3,3,group02_demo_19,NaN,19
17,2025-09-30 11:32:33,2025-09-30 11:36:29,0,100,236,1,2025-09-30 11:36:29.614,R_2qR8prRZj6YY9NL,anonymous,EN,...,2,4,3,3,2,4,3,group02_demo_11,NaN,11
18,2025-09-30 13:32:15,2025-09-30 13:33:44,0,100,89,1,2025-09-30 13:33:44.800,R_2oZrZJXm1uzNwxm,anonymous,EN,...,2,2,3,3,3,2,2,group02_demo_18,NaN,18

In [58]:
self_reports['participantid'] = self_reports['participantid'].astype(int)

In [59]:
self_reports['participantid']

0     16
1      4
2      6
3     17
4     13
5     14
6      5
7     12
8      3
9     15
10     8
11     7
12     1
13     9
14     2
15    10
16    19
17    11
18    18
Name: participantid, dtype: int64

In [60]:
dataset = pd.merge(self_reports, leisure_sum, on='participantid', how='left')

In [61]:
dataset

,StartDate,EndDate,Status,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,DistributionChannel,UserLanguage,...,Q11_4,Q11_5,Q11_6,Q11_7,Q11_8,Q11_9,participant,Create New Field or Choose From Dropdown.,participantid,total_leisure
0,2025-09-29 15:23:42,2025-09-29 15:27:09,0,100,206,1,2025-09-29 15:27:09.425,R_26sTUxRGrOrJdzr,anonymous,EN,...,1,1,1,1,1,1,group02_demo_16,NaN,16,8
1,2025-09-29 15:30:05,2025-09-29 15:33:41,0,100,216,1,2025-09-29 15:33:41.953,R_2tr73kO9Vhufl98,anonymous,EN,...,2,2,2,2,2,2,group02_demo_04,NaN,4,25
2,2025-09-29 15:38:34,2025-09-29 15:42:49,0,100,254,1,2025-09-29 15:42:49.328,R_8RV5CyvrCYCW2Wk,anonymous,EN,...,3,3,3,3,4,3,group02_demo_06,NaN,6,4
3,2025-09-29 15:44:16,2025-09-29 15:46:31,0,100,135,1,2025-09-29 15:46:32.218,R_8jfArUfJbTNh0Ma,anonymous,EN,...,4,4,4,4,4,3,group02_demo_17,NaN,17,40
4,2025-09-29 15:40:20,2025-09-29 15:46:51,0,100,390,1,2025-09-29 15:46:51.751,R_2E0NIkvjKtt1SLE,anonymous,EN,...,4,4,4,3,3,4,group02_demo_13,NaN,13,8
5,2025-09-29 15:45:44,2025-09-29 15:47:20,0,100,95,1,2025-09-29 15:47:20.720,R_8GrckEKy0znLDv6,anonymous,EN,...,4,2,3,2,3,2,group02_demo_14,NaN,14,35
6,2025-09-29 15:45:51,2025-09-29 15:47:49,0,100,117,1,2025-09-29 15:47:49.695,R_2653Q9jt3Pseyjf,anonymous,EN,...,4,4,4,4,4,3,group02_demo_05,NaN,5,14
7,2025-09-29 15:47:27,2025-09-29 15:50:53,0,100,205,1,2025-09-29 15:50:53.378,R_2TBLmgLfgsjbmTf,anonymous,EN,...,3,3,3,2,3,2,group02_demo_12,NaN,12,91
8,2025-09-29 15:48:21,2025-09-29 15:50:55,0,100,154,1,2025-09-29 15:50:55.910,R_2my0Ehvr3Ekrfap,anonymous,EN,...,4,4,4,2,5,2,group02_demo_03,NaN,3,87
9,2025-09-29 15:50:25,2025-09-29 15:53:24,0,100,179,1,2025-09-29 15:53:25.085,R_8XMslWFsmuCNN4Z,anonymous,EN,...,2,2,3,3,2,2,group02_demo_15,NaN,15,38
10,2025-09-29 15:49:57,2025-09-29 15:53:36,0,100,219,1,2025-09-29 15:53:37.229,R_8dFjUf2qkOiB56N,anonymous,EN,...,2,2,2,2,2,2,group02_demo_08,NaN,8,24
11,2025-09-29 15:51:08,2025-09-29 15:54:34,0,100,206,1,2025-09-29 15:54:34.946,R_2sAFHpzF6q86hDL,anonymous,EN,...,4,4,4,3,4,3,group02_demo_07,NaN,7,5
12,2025-09-29 15:54:56,2025-09-29 15:57:36,0,100,160,1,2025-09-29 15:57:36.360,R_8XnDv0GlzNttNvz,anonymous,EN,...,3,2,1,2,3,2,group02_demo_01,NaN,1,20
13,2025-09-29 15:56:57,2025-09-29 15:59:36,0,100,159,1,2025-09-29 15:59:36.629,R_8ZxOaAqnoiqm69r,anonymous,EN,...,3,2,2,2,1,2,group02_demo_09,NaN,9,4
14,2025-09-29 16:22:50,2025-09-29 16:30:26,0,100,456,1,2025-09-29 16:30:27.109,R_2OiXZY4aukWxCrz,anonymous,EN,...,2,3,1,1,4,1,group02_demo_02,NaN,2,12
15,2025-09-29 16:16:35,2025-09-29 16:33:49,0,100,1033,1,2025-09-29 16:33:49.539,R_2A1SLVvfhRfUsbD,anonymous,EN,...,4,3,4,3,4,4,group02_demo_10,NaN,10,17
16,2025-09-29 17:10:49,2025-09-29 17:11:40,0,100,51,1,2025-09-29 17:11:41.335,R_2K2MG9ysiVPyKCT,anonymous,EN,...,3,3,4,3,3,3,group02_demo_19,NaN,19,8
17,2025-09-30 11:32:33,2025-09-30 11:36:29,0,100,236,1,2025-09-30 11:36:29.614,R_2qR8prRZj6YY9NL,anonymous,EN,...,4,3,3,2,4,3,group02_demo_11,NaN,11,12
18,2025-09-30 13:32:15,2025-09-30 13:33:44,0,100,89,1,2025-09-30 13:33:44.800,R_2oZrZJXm1uzNwxm,anonymous,EN,...,2,3,3,3,2,2,group02_demo_18,NaN,18,21

In [62]:
dataset = pd.merge(dataset, sport_mean, on='participantid', how='left')

In [63]:
dataset

,StartDate,EndDate,Status,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,DistributionChannel,UserLanguage,...,Q11_5,Q11_6,Q11_7,Q11_8,Q11_9,participant,Create New Field or Choose From Dropdown.,participantid,total_leisure,mean_sport
0,2025-09-29 15:23:42,2025-09-29 15:27:09,0,100,206,1,2025-09-29 15:27:09.425,R_26sTUxRGrOrJdzr,anonymous,EN,...,1,1,1,1,1,group02_demo_16,NaN,16,8,0.085714
1,2025-09-29 15:30:05,2025-09-29 15:33:41,0,100,216,1,2025-09-29 15:33:41.953,R_2tr73kO9Vhufl98,anonymous,EN,...,2,2,2,2,2,group02_demo_04,NaN,4,25,0.025157
2,2025-09-29 15:38:34,2025-09-29 15:42:49,0,100,254,1,2025-09-29 15:42:49.328,R_8RV5CyvrCYCW2Wk,anonymous,EN,...,3,3,3,4,3,group02_demo_06,NaN,6,4,0.000000
3,2025-09-29 15:44:16,2025-09-29 15:46:31,0,100,135,1,2025-09-29 15:46:32.218,R_8jfArUfJbTNh0Ma,anonymous,EN,...,4,4,4,4,3,group02_demo_17,NaN,17,40,0.057143
4,2025-09-29 15:40:20,2025-09-29 15:46:51,0,100,390,1,2025-09-29 15:46:51.751,R_2E0NIkvjKtt1SLE,anonymous,EN,...,4,4,3,3,4,group02_demo_13,NaN,13,8,0.000000
5,2025-09-29 15:45:44,2025-09-29 15:47:20,0,100,95,1,2025-09-29 15:47:20.720,R_8GrckEKy0znLDv6,anonymous,EN,...,2,3,2,3,2,group02_demo_14,NaN,14,35,0.023121
6,2025-09-29 15:45:51,2025-09-29 15:47:49,0,100,117,1,2025-09-29 15:47:49.695,R_2653Q9jt3Pseyjf,anonymous,EN,...,4,4,4,4,3,group02_demo_05,NaN,5,14,0.000000
7,2025-09-29 15:47:27,2025-09-29 15:50:53,0,100,205,1,2025-09-29 15:50:53.378,R_2TBLmgLfgsjbmTf,anonymous,EN,...,3,3,2,3,2,group02_demo_12,NaN,12,91,0.003205
8,2025-09-29 15:48:21,2025-09-29 15:50:55,0,100,154,1,2025-09-29 15:50:55.910,R_2my0Ehvr3Ekrfap,anonymous,EN,...,4,4,2,5,2,group02_demo_03,NaN,3,87,0.286885
9,2025-09-29 15:50:25,2025-09-29 15:53:24,0,100,179,1,2025-09-29 15:53:25.085,R_8XMslWFsmuCNN4Z,anonymous,EN,...,2,3,3,2,2,group02_demo_15,NaN,15,38,0.016129
10,2025-09-29 15:49:57,2025-09-29 15:53:36,0,100,219,1,2025-09-29 15:53:37.229,R_8dFjUf2qkOiB56N,anonymous,EN,...,2,2,2,2,2,group02_demo_08,NaN,8,24,0.026667
11,2025-09-29 15:51:08,2025-09-29 15:54:34,0,100,206,1,2025-09-29 15:54:34.946,R_2sAFHpzF6q86hDL,anonymous,EN,...,4,4,3,4,3,group02_demo_07,NaN,7,5,0.186047
12,2025-09-29 15:54:56,2025-09-29 15:57:36,0,100,160,1,2025-09-29 15:57:36.360,R_8XnDv0GlzNttNvz,anonymous,EN,...,2,1,2,3,2,group02_demo_01,NaN,1,20,0.024390
13,2025-09-29 15:56:57,2025-09-29 15:59:36,0,100,159,1,2025-09-29 15:59:36.629,R_8ZxOaAqnoiqm69r,anonymous,EN,...,2,2,2,1,2,group02_demo_09,NaN,9,4,0.052632
14,2025-09-29 16:22:50,2025-09-29 16:30:26,0,100,456,1,2025-09-29 16:30:27.109,R_2OiXZY4aukWxCrz,anonymous,EN,...,3,1,1,4,1,group02_demo_02,NaN,2,12,0.000000
15,2025-09-29 16:16:35,2025-09-29 16:33:49,0,100,1033,1,2025-09-29 16:33:49.539,R_2A1SLVvfhRfUsbD,anonymous,EN,...,3,4,3,4,4,group02_demo_10,NaN,10,17,0.000000
16,2025-09-29 17:10:49,2025-09-29 17:11:40,0,100,51,1,2025-09-29 17:11:41.335,R_2K2MG9ysiVPyKCT,anonymous,EN,...,3,4,3,3,3,group02_demo_19,NaN,19,8,0.000000
17,2025-09-30 11:32:33,2025-09-30 11:36:29,0,100,236,1,2025-09-30 11:36:29.614,R_2qR8prRZj6YY9NL,anonymous,EN,...,3,3,2,4,3,group02_demo_11,NaN,11,12,0.015625
18,2025-09-30 13:32:15,2025-09-30 13:33:44,0,100,89,1,2025-09-30 13:33:44.800,R_2oZrZJXm1uzNwxm,anonymous,EN,...,3,3,3,2,2,group02_demo_18,NaN,18,21,0.105263

In [64]:
dataset.to_excel('dataset_for_analysis.xlsx', index=False)